# fly.toml app configuration file generated for server-purple-butterfly-6381 on 2025-11-19T03:15:47Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'server-purple-butterfly-6381'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
